body {
    margin: 0;
    padding: 0;
    background-color: #23374d;
    background-image: url("https://theultralinx.com/.image/t_share/MTY5NTk4MjU5NTY2NzQ5NTA5/joshua-fuller-2ksz19vykki-unsplash.jpg");
}


#particles-js {
background-repeat: no-repeat;
background-size: cover;
}

.navbar{
background-color:#23374d;
}
