#jumbotron {
  background-color: inherit;
  
}
body{
margin:0;
padding:0;
}
/* .container1 {
    height: auto;
    display: flex;
    justify-content: center;
    float: center; */
    /* position: absolute; */

/* } */
.overlay{
  color: black;
}

#centered-card{
  margin:0;                                         
  padding-top:5px;
  color: black
}


.login-text{
    font-family: 'Quicksand', sans-serif;
}
#login{
font-weight:bold;
}
#logo{
font-family: 'Special Elite', cursive;
color:#ed5107;
font-size:20px;
}

#bri-signup{
margin-top:20px;
}

#brian {
  align-self: center;
  background: white;
  width: 400px;
  height: 400px;
  cursor: ew-resize;
  position: absolute;
  border-radius: 15px;
    /* elevation: 30deg; */
}

.division {
  padding-top: 300px;
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

#hellobutton {
margin-top:20px;
    border: 0;
    background: greenyellow;
    /* elevation: 20deg; */
    width: 80px;
    height: 40px;
    box-shadow: #989898 0 0 20px;
    border-radius: 5px;
    color: black;
    font-size: 18px;
    justify-content: right;
}

#hellobutton:hover {
    background: rgb(86, 139, 0);
}


/*Home styles*/
.container {
  max-width: 960px;
}

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

#img{
background-image:url('https://theultralinx.com/.image/t_share/MTY5NTk4MjU5NTY2NzQ5NTA5/joshua-fuller-2ksz19vykki-unsplash.jpg'); 
background-size:cover;
background-position:center;
background-repeat:no-repeat;
z-index:1;
/* padding-top:70px;
padding-bottom:130px; */
}

#buttons{
display:flex;
}
.flex-stuff{
display:flex;
}

.card{
  background-color: inherit;
  color: white;
}
